/*---Page layout styles---*/
#mainApplication {
	width: 100%;
	height: 600px;
}
#optionsPanel {
	position: relative;
	display: block;
	top: 5px;
	left: 10px;
	width: 320px;
	bottom: 5px;
	float: left;
	height: 600px;
	z-index: 1;
	background: LightGrey;
}
#viewPanel {
	position: relative;
	display: block;
	top: 9px;
	right: 0px;
	bottom: 5px;
	height: 600px;
	float: right;
	width: 930px;
	border: 0px solid Black;
}
.formPageIconSpecial {
	cursor: pointer;
	margin-top: 10px;
	margin-right: 10px;
	margin-left: 10px;
	border: 2px dotted LightGrey;
	padding-top: 10px;
	padding-left: 10px;
	margin-bottom: 10px;
}
.formPageIconSpecial:hover {
	border-color: Black;
}
.formPageIcon {
	cursor: pointer;
	margin-top: 10px;
	margin-right: 10px;
	margin-left: 10px;
	border: 2px dotted LightGrey;
	padding-top: 10px;
	padding-left: 10px;
}
.formPageIcon:hover {
	border-color: Black;
}
.formPageIcon:hover .speedButton {
	display: inline;
	cursor: pointer;
}
.pagesPanel {
	top: 5px;
	float: right;
	background-color: LightGrey;
	width: 110px;
	min-height: 500px;
	border: 2px solid Black;
}
.pagesPanelBottom {
	
}

#selectOpts {
	/*background-color: Red;*/
	overflow: auto;
	max-height: 200px;
	min-height: 50px;
}
.dropBox {
	height: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 5%;
	padding-right: 5%;
	overflow: auto;
}
.fbPropertyItemLabel {
	padding: 10px;
	width: 120px;
	border: 1px solid #93B825;
	display: inline;
	background-color: Red;
}
.formElement {
	width: 88%;
	height: auto;
	margin-bottom: 10px;
	margin-left: 5%;
	margin-right: 5%;
	padding-left: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.formElementSel {
	background-color: Silver;
	width: 88%;
	height: auto;	
	margin-bottom: 10px;
	margin-left: 5%;
	margin-right: 5%;
	padding-left: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.formElement:hover {
	border:1px solid #93B825;
	padding-top: 9px;
	padding-bottom: 9px;
	padding-left: 29px;
	cursor: pointer;
	background-color: Silver;
}
.formElement:active {
	background-color: Silver;
}
.speedButton {
	display: none;
	float: right;
}
.formElement:hover .speedButton {
	display: inline;
	cursor: pointer;
}
.viewTabs {
	background-color: #f5f5f5;
	padding-top: 10px;
	height: 20px;
	width: 500px;
	display: inline;
}
.showPagesButton {
	display: inline;
}
#noFormNotice,#emptyForm {
	background-color: LightGrey;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 40px;
	padding-top: 35px;
	text-align: center;
	vertical-align: middle;
	border: 2px dotted Black;
	font-size: 20px;
	margin: 20px;
	height: 100px;
	display: block;
}
.noMenuLabel {
	background-color: Grey;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 40px;
	padding-top: 35px;
	text-align: center;
	vertical-align: middle;
	border: 2px dotted Black;
	font-size: 20px;
	margin: 20px;
	height: 100px;
	display: block;
}
.sourceView {
	/*display: inline;
	position: relative;
	top: 0px;
	left: 0px;
	width: 100%;
	background-color: Silver;*/
}
.sourceView textarea {
	top: 20px;
	bottom: 20px;
	width: 80%;
	height: 500px;
}
.sourceView input {
	align: center;
}
.selectedTab {
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
	text-decoration: none;
	height: auto;
	background-color: #DFEEA3;
	display: inline;
}
.unselectedTab {
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
	text-decoration: none;
	height: auto;
	background-color: #f5f5f5;
	display: inline;
}
.formHeading {
	font-size: 24px;
	text-align: center;
}
.formHeading:hover {
	cursor: pointer;
	background-color: Grey;
}
/*.sourceView textarea {
	width: 100%;
	height: 400px;
  	font-size: 11px;
  	color:#4a4a4a;
 	background-color: Red;
}*/
.toolbarButton {
	text-decoration: none 					! important;
	color: #000;
	height: 12px;
	width: 250px;
	/*line-height: 20px;*/
	vertical-align: middle;
	border: none;
	background-color: #FAFAFA;
	margin: 2px;
	padding: 1px;
	display: block;
	font-size: 1.0em;
}
.toolbarButton:hover {
	border: 1px solid #000;
	margin: 1px;
}
.toolbarButton:hover {
	color: #FFF;
	background-color: #317082;
	text-decoration: none;
}
.floatLeft {
	float: left;
}
.floatRight {
	float: right;
}
.componentsList {
	/*float: left;*/
	list-style: none;
	margin-bottom: 10px;
	margin-top: 10px;
}
.paletteComponent {
	display: block;
	width: 120px;
	margin: 5px 5px 0px 5px;
	background-color: #f5f5f5;
	border: 1px solid #dedede;
	text-align: left;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 5px;
	text-decoration: none;
	font-weight: bold;
	color: #565656;
	background-repeat:no-repeat;
	background-position:6px center;
}
.paletteComponent:hover {
	background-color:#DFEEA3;
	border:1px solid #C6D880;
	color:#444;
}
.paletteComponent:active {
	background-color:#C1DF5D;
	border:1px solid #93B825;
	color:#333;
}
.menuPanelTitle {
	background: White;
	text-decoration: none;
	padding: 10px;
	border: 1px solid Black;
	height: 15px;
	width: auto;
	cursor: pointer;
}
.propertiesBox {
	margin-bottom: 10px;
	padding-left: 5%;
	padding-right: 5%;
	overflow: none;
}
/*.propertiesBox * {
	display: block;
}*/
.toolbar_button {
	text-decoration: none 					! important;
	color: #000;
	height: 12px;
	width: 250px;
	/*line-height: 20px;*/
	vertical-align: middle;
	border: none;
	background-color: #FAFAFA;
	margin: 2px;
	padding: 1px;
	display: block;
	font-size: 1.0em;
}
.toolbar_button:hover {
	border: 1px solid #000;
	margin: 1px;
}
.toolbar_field {
	text-decoration: none;
	color: #000;
	height: 20px;
	width: 200px;
	line-height: 20px;
	vertical-align: middle;
	border: 1px solid #000;
	background-color: #FAFAFA;
	margin: 0px;
	padding: 1px;
	display: block;
	font-size: 1.0em;
}
.toolbar_button:hover {
	color: #FFF;
	background-color: #317082;
	text-decoration: none;
}
.float_left {
	float: left;
}
.float_right {
	float: right;
}
.bottom_tab_button {
	text-decoration: none;
	height: 20px;
	width: 100px;
	vertical-align: middle;
	text-align: center;
	margin: 0px;
	padding: 10px;
	
}
/*---Popup model dialog styles---*/
.modalDialog_transparentDivs {	
	filter: alpha(opacity=40);
	opacity: 0.4;
	background-color: #AAA;
	z-index: 1;
	position: absolute;
}
.modalDialog_contentDiv {
	border: 3px solid #000;	
	padding: 2px;
	z-index: 100;
	position: absolute;
	background-color: #FFF;
}
.modalDialog_contentDiv_shadow{
	z-index: 90;
	position: absolute;
	background-color: #555;
	filter: alpha(opacity=30);
	opacity: 0.3;
}

#progressBar { 
	padding-top: 5px; 
}
#progressBarBox { 
	width: 350px; 
	height: 20px; 
	border: 1px inset; 
	background: #eee;
}
#progressBarBoxContent { 
	width: 0; 
	height: 20px; 
	border-right: 1px solid #444; 
	background: #9ACB34; 
}