/*---Basic tag styles---*/
a {
	color: red;
	text-decoration: none;
}
body {
	font-size: 0.8em;
	text-align: center;
	background-color: #E2EBED;
	font-family: Trebuchet MS, Lucida Sans Unicode, Arial, sans-serif;
	margin: 0px;
	padding: 0px;
}
img {
	border: 0px;
}

/*---Page layout styles---*/
.application_container {
	border: 1px #000 groove;
	margin: 10px;
	height: 100%;
}
.toolbar_container {
	margin-top: 5px;
	margin-left: 5px;
	margin-right: 5px;
	background: #E2EBED;
	height: 30px;
}
.main_container {
	margin: 5px;
	padding-bottom: 10px;
	background: #F2F2F2;
	height: 550px;
}
.options_container {
	float:left;
	width: 477px;
	height: auto;
	background:#fff;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-bottom: 0px;
}
.form_container {
	margin-left: 35%;
	margin-bottom: 50px;
	height: auto;
}
/*---UI Component styles---*/
.components_list {
	list-style: none;
}
.palette_component {
	width: 130px;
	height: 20px;
	border: 1px solid #000;
	background-color: #F9C;		
	margin-bottom: 5px;
	padding: 5px;
	font-weight: bold;
	text-align: center;
}
.form_component {
	width: 88%;
	height: 20px;
	background-color: #FFF;		
	margin-bottom: 5px;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 10px;
	padding-top: 10px;
	font-weight: bold;
	text-align: center;
}
.form_component:hover{
	width: 88%;
	height: 20px;
	border: 1px dotted #000;
	background-color: #FFF;		
	margin-bottom: 5px;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 10px;
	padding-top: 10px;
	font-weight: bold;
	text-align: center;
}
.dropBox {
	background-color: White;
	height: 470px;
	margin-bottom: 10px;
	padding-left: 5%;
	padding-right: 5%;
	overflow: auto;
}	

/*---Top menu styles---*/
#dhtmlgoodies_menu {		
	font-family: arial;
	width: auto;
	margin-left: 5px;
	padding-left: 5px;
}
#dhtmlgoodies_menu	li {
	margin: 0px;
	list-style: none;
	float: left;
	padding: 0px;
}
#dhtmlgoodies_menu ul {	
	margin: 0px;
	padding: 0px;
	float: left;
}
#dhtmlgoodies_menu	li a {
	text-decoration: none;
	color: #000;
	height: 20px;
	width: 75px;
	line-height: 20px;
	vertical-align: middle;
	border: 1px solid #000;
	background-color: #FAFAFA;
	margin: 1px;
	padding: 1px;
	display: block;
	float: left;
	font-size: 1.0em;
}
#dhtmlgoodies_menu	li a:hover {
	color: #FFF;
	background-color: #317082;
}

/*---Options tabbed pane styles---*/
table {
	width: 477px							 ! important;
	border-collapse: collapse                ! important;
    border-spacing: 0px                      ! important;
    padding: 0px                             ! important;
    border-width: 0px                        ! important;
    empty-cells: show                        ! important;
}
td { 
	border-spacing: 0px                      ! important;
    padding: 0px                             ! important;
    border-width: 0px                        ! important; 
}
th { 
	font-weight: normal                      ! important;
	font-size: 100%                          ! important;
	text-align: center                       ! important;
	border: 2px solid                        ! important;
	border-color: black #ccc #ccc black      ! important;
	padding-top: 0px                         ! important;
	padding-left: 5px                        ! important;
	padding-right: 5px                       ! important;
	padding-bottom: 0px                      ! important;
	background: #d8d9d4                      ! important;
	white-space: nowrap                      ! important; 
}
table.tabbedPane { 
	width: 475px                             ! important;
    height: 470px                            ! important;
    vertical-align: top                      ! important;
    border-collapse: separate                ! important;
    border-spacing: 0px                      ! important; 
}
td.activeTab { 
	/*background-color: #e0e0ec                ! important;*/
	background-image:url('../images/tab_left_active.gif') !important;
	border-top: 2px solid #fff               ! important;
	border-left: 2px solid #fff              ! important;
	border-right: 2px solid #aaacae          ! important;
	border-bottom: 0px none                  ! important;
	padding: 2px                             ! important;
	height: 4ex                              ! important;
	font-size: 100%                          ! important;
	horizontal-align: center                 ! important;
	text-align: center                       ! important;
	width: 155px							 ! important;
}
td.activeTab input { 
	background-color: #e0e0ec                ! important;
	font-size: 100%                          ! important;
	horizontal-align: center                 ! important;
	text-align: center                       ! important;
	border: none							 ! important; 
}
/*td.activeTab input:active {
	border: none							 ! important;
}*/
td.inactiveTab { 
	background-color: #c8c8d8                ! important;
	border-top: 2px solid #e3e5e7            ! important;
	border-left: 2px solid #ebecef           ! important;
	border-right: 2px solid #8a8c8e          ! important;
	border-bottom: 0px none                  ! important;
	padding: 2px                             ! important;
	height: 4ex                              ! important;
	font-size: 100%                          ! important;
	horizontal-align: center                 ! important;
	text-align: center                       ! important;
	height: 4ex                              ! important;
	width: 155px							 ! important;
}
td.inactiveTab input { 
	background-color: #c8c8d8                ! important;
	font-size: 100%                           ! important;
	horizontal-align: center                 ! important;
	text-align: center                       ! important;
}
td.activeSub { 
	background-color: #e0e0ec                ! important;
	padding: 0px                             ! important;
	border-left: 2px solid #fff             ! important;
	border-right: 2px solid #aaacae         ! important; 
}
td.inactiveSub { 
	background-color: #fff                   ! important;
    padding: 0px                             ! important; 
}
td.tabContent { 
	background-color: #e0e0ec                ! important;
	border-top: 0px none                    ! important;
	border-left: 2px solid #fff             ! important;
	border-right: 2px solid #aaacae         ! important;
	border-bottom: 2px solid #aaacae        ! important;
	vertical-align: top                      ! important;
	padding: 20px                            ! important;
	height: 100%                             ! important;
	text-align: justify                      ! important; 
} 
/*
.dhtmlgoodies_tabPane{
	height: 21px;
	border-bottom: 1px solid #919b9c;
}
.dhtmlgoodies_aTab{
	border-left: 1px solid #919b9c;
	border-right: 1px solid #919b9c;
	border-bottom: 1px solid #919b9c;
	font-family: Trebuchet MS, Lucida Sans Unicode, Arial, sans-serif;
	padding: 5px;		
}
.dhtmlgoodies_tabPane DIV{
	float: left;
	height: 100%;
	width: 150px;
	padding-left: 3px;
	vertical-align: middle;
	background-repeat: no-repeat;
	background-position: bottom left;
	cursor: pointer;
	position: relative;
	bottom: -1px;
	margin-left: 0px;
	margin-right: 0px;
}
.dhtmlgoodies_tabPane .tabActive{
	background-image:url('../images/tab_left_active.gif');
	margin-left:0px;
	margin-right:0px;	
	z-index:10;	
}
.dhtmlgoodies_tabPane .tabInactive{
	background-image:url('../images/tab_left_inactive.gif');
	margin-left:0px;
	margin-right:0px;
	z-index:1;
}
.dhtmlgoodies_tabPane .inactiveTabOver{
	background-image:url('../images/tab_left_over.gif');
	margin-left:0px;
	margin-right:0px;
}
.dhtmlgoodies_tabPane span{
	font-family:arial;
	vertical-align:top;
	font-size:12px;
	padding-left:3px;
	padding-right:3px;		
	line-height:21px;
	float:left;
}
.dhtmlgoodies_tabPane .tabActive span{
	padding-bottom:1px;
	line-height:20px;
}
.dhtmlgoodies_tabPane img{
	float:left;
}*/

/*---Popup model dialog styles---*/
.modalDialog_transparentDivs {	
	filter: alpha(opacity=40);	/* Transparency */
	opacity: 0.4;	/* Transparency */
	background-color: #AAA;
	z-index: 1;
	position: absolute; /* Always needed	*/
}
.modalDialog_contentDiv {
	border: 3px solid #000;	
	padding: 2px;
	z-index: 100;/* Always needed	*/
	position: absolute;	/* Always needed	*/
	background-color: #FFF;	/* White background color for the message */
}
.modalDialog_contentDiv_shadow{
	z-index: 90;/* Always needed	- to make it appear below the message */
	position: absolute;	/* Always needed	*/
	background-color: #555;
	filter: alpha(opacity=30);	/* Transparency */
	opacity: 0.3;	/* Transparency */	
}