#fbHomePage {
	background-color: White;
	border: 1px solid LightGrey;
	padding: 25px;
	right: 5px;
	left: 5px;
	position: absolute;
	bottom: 62px;
	top: 85px;
}

#fbAdminPage {
	margin: 15px;
	background-color: White;
	border: 1px solid LightGrey;
	padding: 25px;
	height: 100%;
}
.fbBottomButtonsContainer {
	border-top: 1px #959494 solid;
	position: absolute;
	bottom: 0;
	height: 55px;
	right: 0;
	left: 0;
	width: auto;
	background: url(images/bottom_tiler.gif) top left repeat-x #c7c6c6;
}
.newFormDialogStyle {
	position: absolute;
	bottom: 3px;
	width: auto;
	z-index: 10;
	background-color: #fff;
	border: 3px solid #a1a1a1;
}
.fbBottomButtonsContainer a {
	padding-top: 30px;
	margin-top: 7px;
	font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #131313;
	margin-left: 13px;
	margin-right: 13px;
	width: 24px;
}

html>body .fbBottomButtonsContainer a {
	min-width: 24px;
	width: auto;
}
.fbBottomButtonsContainer a.rightButton {
	margin-right: 24px;
	float: right;
}
.fbBottomButtonsContainer a#newFormButton {
	background: url(images/new_32.png) center top no-repeat;
}
.fbBottomRightButtonsContainer {
	position: absolute;
	right: 0px;
	bottom: 0px;
	z-index: 5;
}

.fbBottomButtonsContainer {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	background-color: #E1E1E1;
	border: 1px solid #D7D7D7;
	z-index: 5;
}

#fbHomePageHeaderBlock {
	height: 50px;
	border-bottom: 2px solid Grey;
	margin-bottom: 25px;
	position: relative;
}
#fbHPLeft {
	position: relative;
	left: 0px;
}
#fbHPLeft span {
	display: block;
}
#fbHPRight {
	position: absolute;
	right: 0px;
	top: 0px;
}
.newFormComponentIdle {
	background-color: LightGrey;
	height: auto;
	border: 1px solid #b2d7ff;
	width: 120px;
}
.newFormComponentExpand {
	background-color: LightGrey;
	height: auto;
	border: 1px solid #b2d7ff;
	width: 300px;
}
.newFormComponentIdle > div, .newFormComponentExpand > div {
	height: 45px;
	position: relative;
}
.newFormComponentIdle #newIcon {
	position: absolute;
	left: 10px;
	bottom: 13px;
	cursor: pointer;
}
.newFormComponentExpand #newIcon {
	display: none;
}
.newFormComponentIdle #newBt {
	color: Black;
	cursor: pointer;
	font-weight: Bold;
	font-size: 13px;
	position: absolute;
	left: 40px;
	bottom: 13px;
}
.newFormComponentExpand #newBt {
	display: none;
}
#newBt:hover {
	color: Black;
	text-decoration: none;
}
.newFormComponentIdle #cancelBt {
	display: none;
}

.newFormComponentExpand #cancelBt {
	background: url(images/button_cancel.png) no-repeat;
	color: Black;
	cursor: pointer;
	font-weight: Bold;
	font-size: 13px;
	position: absolute;
	left: 220px;
	bottom: 13px;
	width: 60px;
	text-align: right;
}

.expandButton {
	background: url(images/next_16.png) no-repeat scroll right;
	width: 70px;
}
.collapseButton {
	background: url(images/previous_16.png) no-repeat scroll right;
	width: 70px;
}

.newFormComponentIdle #okBt {
	display: none;
}

#createFormBtn {
	font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Arial, Helvetica, sans-serif !important;
	font-size: 16px !important;
	background-color: #cef3cf;
	border: 1px #b5e1b7 solid !important;
	border-right-color: #80b082 !important;
	border-bottom-color: #6e9870 !important;
	border-left-color: #a9dcac !important;
	padding: 8px 18px;
	color: #1f1f1f !important;
	display: block;
	position: absolute;
	right: 15px;
	bottom: 15px;
}

#createFormBtn:hover {
	text-decoration: none;
}

#cancelBt:hover {
	color: Black;
	text-decoration: none;
}
#okBt:hover {
	color: Black;
	text-decoration: none;
}
.newFormComponentIdle #newTxt {
	display: none;
}
.newFormComponentExpand #newTxt {
	position: absolute;
	left: 5px;
	bottom: 10px;
	width: 140px;
}

.fbTwoLineProperty label {
	display: block;
}

.fbTwoLineProperty textarea {
	width: 268px;
	height: 80px;
}

.fbProperty {
	display: block;
	overflow: hidden;
	margin-bottom: 12px;	
}

.fbSingleLineProperty label {
	margin-left: 4px;	
}

.fbProperty input, .fbProperty textarea {
	margin: 0;	
}

.fbProperty label {
	font-weight: bold;
	margin-bottom: 3px;
}

.fbFullPanel {
	height: 300px;
	position: relative;
	padding: 15px;
}

#fbHomePageWelcomeBlock {
	padding-top: 15px;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 15px;
	font-size: 16px;
	font-weight: bold;
	align: center;
	background-color: #e5f1ff;
	height: auto;
	border: 1px solid #b2d7ff;
	margin-bottom: 25px;
}

#headerName {
	font-size: 20px;
	font-weight: bold;
}

#headerSlogan {
	font-size: 14px;
}

.formListItem, .processItem {
	background-color: #DDEDD3;
	border: 1px groove #BDBDBD;
	cursor: pointer;
	margin-bottom: 8px;
	position: relative;
	padding: 5px;
}

.formListItem {
	height: 39px;
}

.formListItem > div {
	background: #f4f4f4;
}

.buttonList {
	position: absolute;
	right: 0px;
	top: 15px;
	list-style: none;
	margin: 0;
	padding: 0;
}

.processItem {
	overflow: hidden;
	padding-bottom: 9px;
}

.processItem .formTitle {
	margin-bottom: 18px;
}

.taskFormList {
	right: 0px;
	list-style: none;
	margin: 0;
	padding: 0;
	margin-top: 44px;
	padding-bottom: 20px;
}

.taskFormList > li {
	height: 50px;
	margin: 0 10px 8px 10px;
	clear: both;
}

.taskFormList > li > div {
	display: block;
	line-height: 19px;
	font-weight: bold;
	font-size: 12px;
	border: 1px #bdbdbd solid;
	margin: 0;
}

.taskFormList > li > div .formTitle {
	line-height: 20px;
	margin: 0;
}

.taskFormList > li > div .createdDate {
	margin: 0;
	margin-bottom: 5px;
}

.buttonList li {
	float: left;
	padding-left: 20px;
	height: 20px;
	margin-right: 16px;
}

.buttonList li a {
	display: block;
	line-height: 20px;
	font-weight: bold;
	font-size: 12px;
}

.newFormButton {
	background-color: Red;
}

.formListItem:hover {
	border: 1px groove #0096ff;
	background-color: #E5F1FF;
}
.formListItemSub:hover {
	background-color: #E5F1FF;
	border-color: #0096ff;
}

.formListItemTop {
	padding-top: 0px;
	height: 30px;
}

.formListItemTopLeft {
	margin-left: 10px;
	display: inline;
	top: 7px;
	position: relative;
}

.formListItemTopRight {
	right: 50px;
	height: 100%;
	position: absolute;
	padding-top: 7px;
	display: inline;
}

.formListItemBottom {
	height: 30px;
	padding-top: 5px;
	padding-bottom: 5px;
	position: relative;
}

.bottomButtonHidden {
	display: none;
	margin-left: 15px;
	height: 20px;
	padding-bottom: 5px;
}
.bottomButton {
	margin-left: 15px;
	height: 20px;
	font-weight: Bold							!important;
	padding-bottom: 4px;
	padding-top: 2px;
	color: #0096ff;
	text-align: right;
	position: absolute;
	top: 5px;
}

.buttonList li.entriesButton {
	background: url(images/application_view_list.png) left no-repeat;
}
.buttonList li.editButton {
	background: url(images/application_form_edit.png) left no-repeat;
}
.buttonList li.tryButton {
	background: url(images/cog_go.png) left no-repeat;
}
.buttonList li.attachButton {
	background: url(images/application_link.png) left no-repeat;
}
.buttonList li.createButton {
	background: url(images/application_form_add.png) left no-repeat;
}
.editButton.processForm {
	right: 90px;
	top: 10px;
	width: 40px;
	background: url(images/application_form_edit.png) no-repeat;
}
.buttonList li.codeButton {
	background: url(images/page_white_code.png) left no-repeat;
}
.codeButton.processForm {
	right: 20px;
	width: 47px;
	top: 10px;
	background: url(images/page_white_code.png) no-repeat;
}
.buttonList li.duplicateButton {
	background: url(images/page_copy.png) left no-repeat;
}
.deleteButton.processForm {
	right: 150px;
	width: 52px;
	top: 10px;
	background: url(images/bin_closed.png) no-repeat;
}
.buttonList li.deleteButton {
	background: url(images/bin_closed.png) left no-repeat;
}

.bottomButton:hover {
	text-decoration: none;
	color: #ff2700;
}

.formTitle {
	display:block;
	float:left;
	font-size:16px;
	font-weight:bold;
	margin-top: 2px;
	margin-left: 8px;
	margin-bottom: 3px;
}

.createdDate {
	display:block;
	font-size:11px;
	color: #a1a1a1;
	margin-left: 33px;
	font-weight:normal !important;
	position: absolute;
	left: 16px;
	top: 25px;
}

.formListIcon {
	float: left;
	margin-left: 3px;
	margin-top: 3px;
}

.deleteFormDialog {
	height: 40px;
	width: 250px;
	position: relative;
	left: 300px;
}

.duplicateFormDialog {
	height: 40px;
	width: 250px;
	position: relative;
	left: 210px;
}

.pagesGeneralContainer {
	display: block;
	height: 300px;
	overflow: auto;
}

.pagesSpecialContainer {
	display: block;
	height: 150px;
	overflow: auto;
}
#formListContainer {
	border:1px solid #BDBDBD;
	bottom:25px;
	left:25px;
	padding:8px;
	position:absolute;
	right:25px;
	top:100px;
	overflow: auto;
	width: auto !important;
}

#forms {
	position: relative;
	overflow: hidden;
	height: 320px;
}

.formListItemSub {
	margin-right: 15px;
	margin-left: 15px;
	margin-bottom: 5px;
	margin-top: 15px;
	padding-left: 20px;
	padding-top: 10px;
	background: #e5f1ee;
	position: relative;
	clear: both;
}

.formListItemSub .createdDate {
	clear: both;
	position: relative;
	top: 0;
	left: 0;
}
.processNameBox {
	margin-left: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	position: relative;
}
.processNameBox .processName {
	font-size: 15px;
	font-weight: bold;
	color: Black;
	margin-left: 10px;
	position: absolute;
	top: 0px;
}
.formListItemTopLeft img {
	margin-left: 10px;
}
.formListItemTopLeft .formTitle {
	margin-left: 10px;
	position: absolute;
	top: -8px;
}

.processButton {
	margin-right: 15px;
	height: 20px;
	font-weight: Bold							!important;
	padding-bottom: 4px;
	color: #0096ff;
	text-align: right;
}
.buttonList li.casesButton {
	background: url(images/application_view_list.png) left no-repeat;
}
.buttonList li.taskFormButton {
	background: url(images/list-add.png) left no-repeat;
}

.processButtonList li div {
	line-height: 20px;
}

.processButtonList li label {
	font-weight: bold;
	font-size: 12px;
	line-height: 20px;
	padding-right: 6px;
	display: block;
	float: left;
	color: #2d2d2d;
	margin-top: 2px;
}

.processButtonList li select {
	margin: 0;
	margin-top: 2px;
}

#formListContainer .mootabs_title {
	height: 40px;
}

#formListContainer .mootabs_panel {
	width: auto !important;
	height: auto !important;
	border: 1px #BDBDBD solid;
	position: absolute;
	padding: 5px;
	top: 56px;
	left: 8px;
	right: 8px;
	bottom: 8px;
}

#formListContainer .mootabs_title .stateFullTab {
	border: 1px #bdbdbd solid;
	height: auto;
	margin-right: 8px;
	position: relative;
	line-height: 34px;
	background-color: #ddd;
}

#formListContainer .mootabs_title li.active {
	background-color: #ddedd3;
}

.processSummaryText {
	position: absolute;
	top: 25px;
	left: 50px;
	color: #666;
}

#formListContainer .mootabs_title .stateFullTab img {
	position: absolute;
	left: 2px;
	top: 4px;
}

#formListContainer .mootabs_title .stateFullTab span {
	font-size: 14px;
	padding-left: 28px;
}

.forms #TB_ajaxContent{
	padding: 15px;
}

.simplePopupLayer {
}

.simplePopupLabel {
}

.simplePopupInput {
}

.forms #TB_ajaxContent label {
	font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
}

.forms #TB_ajaxContent label.simplePopupLabel {
	display: block;
	margin-bottom: 3px;
}

.forms #TB_ajaxContent input#formNameInput {
	display: block;
	font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
	margin: 0 !important;
	font-size: 16px;
	padding: 3px;
	width: 285px;
}

.forms #TB_ajaxContent input#designerCheckbox2 {
	width: 16px;
	height: 16px;
	float: left;
	margin: 0;
	margin-right: 6px;
}

.forms #TB_title{
	height: 30px;
}

.forms #TB_ajaxWindowTitle {
	font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
	font-size: 16px;
	padding: 0;
	padding-left: 8px;
	line-height: 30px;
}

.forms #TB_closeAjaxWindow{
	padding: 0;
	font-size: 9px;
	padding-right: 3px;
	padding-top: 3px;
}