#fbHomePage {
	margin: 15px;
	background-color: White;
	border: 1px solid LightGrey;
	padding: 25px;
	right: 0px;
	left: 0px;
	margin-bottom: 20px;
	position: absolute;
	bottom: 0px;
	top: 50px;
}

#fbAdminPage {
	margin: 15px;
	background-color: White;
	border: 1px solid LightGrey;
	padding: 25px;
	height: 100%;
}

.fbBottomRightButtonsContainer {
	position: absolute;
	right: 0px;
	bottom: 0px;
	z-index: 5;
}

.fbBottomButtonsContainer {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	background-color: #E1E1E1;
	border: 1px solid #D7D7D7;
	z-index: 5;
}

#fbHomePageHeaderBlock {
	height: 50px;
	border-bottom: 2px solid Grey;
	margin-bottom: 25px;
	position: relative;
}
#fbHPLeft {
	position: relative;
	left: 0px;
}
#fbHPLeft span {
	display: block;
}
#fbHPRight {
	position: absolute;
	right: 0px;
	top: 0px;
}
.newFormComponentIdle {
	background-color: LightGrey;
	height: auto;
	border: 1px solid #b2d7ff;
	width: 120px;
}
.newFormComponentExpand {
	background-color: LightGrey;
	height: auto;
	border: 1px solid #b2d7ff;
	width: 300px;
}
.newFormComponentIdle > div, .newFormComponentExpand > div {
	height: 45px;
	position: relative;
}
.newFormComponentIdle #newIcon {
	position: absolute;
	left: 10px;
	bottom: 13px;
	cursor: pointer;
}
.newFormComponentExpand #newIcon {
	display: none;
}
.newFormComponentIdle #newBt {
	color: Black;
	cursor: pointer;
	font-weight: Bold;
	font-size: 13px;
	position: absolute;
	left: 40px;
	bottom: 13px;
}
.newFormComponentExpand #newBt {
	display: none;
}
#newBt:hover {
	color: Black;
	text-decoration: none;
}
.newFormComponentIdle #cancelBt {
	display: none;
}
.newFormComponentExpand #cancelBt {
	background: url(images/button_cancel.png) no-repeat;
	color: Black;
	cursor: pointer;
	font-weight: Bold;
	font-size: 13px;
	position: absolute;
	left: 220px;
	bottom: 13px;
	width: 60px;
	text-align: right;
}
.newFormComponentIdle #okBt {
	display: none;
}
.newFormComponentExpand #okBt {
	background: url(images/button_ok.png) no-repeat;
	color: Black;
	cursor: pointer;
	font-weight: Bold;
	font-size: 13px;
	position: absolute;
	left: 160px;
	bottom: 13px;
	width: 55px;
	text-align: right;
}
#cancelBt:hover {
	color: Black;
	text-decoration: none;
}
#okBt:hover {
	color: Black;
	text-decoration: none;
}
.newFormComponentIdle #newTxt {
	display: none;
}
.newFormComponentExpand #newTxt {
	position: absolute;
	left: 5px;
	bottom: 10px;
	width: 140px;
}

.fbTwoLineProperty label {
	display: block;
}

.fbTwoLineProperty textarea {
	width: 268px;
	height: 80px;
}

.fbProperty {
	display: block;
	overflow: hidden;
	margin-bottom: 12px;	
}

.fbSingleLineProperty label {
	margin-left: 4px;	
}

.fbProperty input, .fbProperty textarea {
	margin: 0;	
}

.fbProperty label {
	font-weight: bold;
	margin-bottom: 3px;
}

.fbFullPanel {
	height: 300px;
	position: relative;
	padding: 15px;
}

#fbHomePageWelcomeBlock {
	padding-top: 15px;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 15px;
	font-size: 16px;
	font-weight: bold;
	align: center;
	background-color: #e5f1ff;
	height: auto;
	border: 1px solid #b2d7ff;
	margin-bottom: 25px;
}

#headerName {
	font-size: 20px;
	font-weight: bold;
}

#headerSlogan {
	font-size: 14px;
}

.formListItem, .processItem {
	background-color:#DDEDD3;
	border:1px groove #BDBDBD;
	cursor:pointer;
	height:auto;
	margin-bottom:8px;
	position:relative;
	padding: 5px;
}

.formListItem > div {
	background: #f4f4f4;
}

.buttonList {
	position: absolute;
	right: 0px;
	top: 15px;
	list-style: none;
	margin: 0;
	padding: 0;
}

.processItem {
	overflow: hidden;
}

.processItem .formTitle {
	margin-bottom: 18px;
}

.taskFormList {
	right: 0px;
	list-style: none;
	margin: 0;
	padding: 0;
	display: block;
}

.taskFormList > li {
	height: 50px;
	margin: 0 10px 10px 10px;
}

.taskFormList > li > div {
	display: block;
	line-height: 19px;
	font-weight: bold;
	font-size: 12px;
	border: 1px #bdbdbd solid;
	margin: 0;
}

.taskFormList > li > div .formTitle {
	line-height: 20px;
	margin: 0;
}

.taskFormList > li > div .createdDate {
	margin: 0;
	margin-bottom: 5px;
}

.buttonList li {
	float: left;
	padding-left: 20px;
	height: 20px;
	margin-right: 16px;
}

.buttonList li a {
	display: block;
	line-height: 20px;
	font-weight: bold;
	font-size: 12px;
}

.newFormButton {
	background-color: Red;
}

.formListItem:hover {
	border: 1px groove #0096ff;
	background-color: #E5F1FF;
}
.formListItemSub:hover {
	background-color: #E5F1FF;
	border-color: #0096ff;
}

.formListItemTop {
	padding-top: 0px;
	height: 30px;
}

.formListItemTopLeft {
	margin-left: 10px;
	display: inline;
	top: 7px;
	position: relative;
}

.formListItemTopRight {
	right: 50px;
	height: 100%;
	position: absolute;
	padding-top: 7px;
	display: inline;
}

.formListItemBottom {
	height: 30px;
	padding-top: 5px;
	padding-bottom: 5px;
	position: relative;
}

.bottomButtonHidden {
	display: none;
	margin-left: 15px;
	height: 20px;
	padding-bottom: 5px;
}
.bottomButton {
	margin-left: 15px;
	height: 20px;
	font-weight: Bold							!important;
	padding-bottom: 4px;
	padding-top: 2px;
	color: #0096ff;
	text-align: right;
	position: absolute;
	top: 5px;
}

.buttonList li.entriesButton {
	background: url(images/application_view_list.png) left no-repeat;
}

.buttonList li.editButton {
	background: url(images/application_form_edit.png) left no-repeat;
}
.editButton.processForm {
	right: 90px;
	top: 10px;
	width: 40px;
	background: url(images/application_form_edit.png) no-repeat;
}
.buttonList li.codeButton {
	background: url(images/page_white_code.png) left no-repeat;
}
.codeButton.processForm {
	right: 20px;
	width: 47px;
	top: 10px;
	background: url(images/page_white_code.png) no-repeat;
}
.buttonList li.duplicateButton {
	background: url(images/page_copy.png) left no-repeat;
}
.deleteButton.processForm {
	right: 150px;
	width: 52px;
	top: 10px;
	background: url(images/bin_closed.png) no-repeat;
}
.buttonList li.deleteButton {
	background: url(images/bin_closed.png) left no-repeat;
}

.bottomButton:hover {
	text-decoration: none;
	color: #ff2700;
}

.formTitle {
	display:block;
	float:left;
	font-size:16px;
	font-weight:bold;
	margin-top: 6px;
	margin-left: 8px;
	margin-bottom: 3px;
}

.createdDate {
	clear:both;
	display:block;
	font-size:11px;
	color: #a1a1a1;
	margin-left: 33px;
	font-weight:normal					!important;
}
.formListIcon {
	float: left;
	margin-left: 3px;
	margin-top: 3px;
}

.deleteFormDialog {
	height: 40px;
	width: 250px;
	position: relative;
	left: 300px;
}

.duplicateFormDialog {
	height: 40px;
	width: 250px;
	position: relative;
	left: 210px;
}

.pagesGeneralContainer {
	display: block;
	height: 300px;
	overflow: auto;
}

.pagesSpecialContainer {
	display: block;
	height: 150px;
	overflow: auto;
}
#formListContainer {
	border:1px solid #BDBDBD;
	bottom:25px;
	left:25px;
	overflow-y:scroll;
	padding:8px;
	position:absolute;
	right:25px;
	top:100px;
}

#forms {
	position: relative;
	overflow: hidden;
	height: 320px;
}
.formListItemSub {
	margin-right: 15px;
	margin-left: 15px;
	margin-bottom: 5px;
	margin-top: 15px;
	padding-left: 20px;
	padding-top: 10px;
	background: #e5f1ee;
	position: relative;
	height: auto;
}
.processNameBox {
	margin-left: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	position: relative;
}
.processNameBox .processName {
	font-size: 15px;
	font-weight: bold;
	color: Black;
	margin-left: 10px;
	position: absolute;
	top: 0px;
}
.formListItemTopLeft img {
	margin-left: 10px;
}
.formListItemTopLeft .formTitle {
	margin-left: 10px;
	position: absolute;
	top: -8px;
}

.processButton {
	margin-right: 15px;
	height: 20px;
	font-weight: Bold							!important;
	padding-bottom: 4px;
	padding-top: 2px;
	color: #0096ff;
	text-align: right;
	top: 0px;
	
}
.buttonList li a.casesButton {
	background: url(images/application_view_list.png) left no-repeat;
}
.buttonList li a.taskFormButton {
	background: url(images/list-add.png) left no-repeat;
}

.processButtonList li div {
	line-height: 20px;
}

.processButtonList li label {
	font-weight: bold;
	font-size: 12px;
	line-height: 20px;
	padding-right: 6px;
	display: block;
	float: left;
	color: #2d2d2d;
	margin-top: 2px;
}

.processButtonList li select {
	margin: 0;
	margin-top: 2px;
}