/*---Page layout styles---*/
#application_container {
	border: 1px #000 groove;
	margin: 10px;
	height: 100%;
	text-align: center;
	font-family: Trebuchet MS, Lucida Sans Unicode, Arial, sans-serif;
	
}
#toolbar_container {
	margin-top: 5px;
	margin-left: 5px;
	margin-right: 5px;
	background: #E2EBED;
	height: 24px;
}
#main_container {
	margin: 5px;
	padding-bottom: 0px;
	background: #F2F2F2;
	height: 500px;
}
#options_container {
	float:left;
	width: 477px;
	height: 500px;
	background:#fff;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-bottom: 0px;
}
#form_container {
	margin-left: 35%;
	margin-bottom: 0px;
	height: 500px;
}
#hidden_container {
	display: none;
}
#bottom_tab_container {
	border: 1px #000 groove;
	margin: 0px;
	padding-top: 0px;
	padding: 0px;
	height: 20px;
	width: 100%;
}
/*---UI Component styles---*/
.form_element {
	width: 88%;
	height: auto;	
	margin-bottom: 10px;
	padding-left: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	border: none;
}




/*#form_heading {
	width: 88%;
	height: auto;
	background-color: #FFF;		
	margin-bottom: 5px;
	padding: 0px;
	font-weight: bold;
	text-align: center;
	border: 1px solid #000;
}

.fieldInnerStructure {
	border: 0px;
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
	border: 1px #000 groove;
}
.fieldInnerStructure:hover {
	border: 1px dotted #000;
	background-color: Grey;
}*/
.components_list {
	list-style: none;
}
.palette_component {
	width: 130px;
	height: 20px;
	border: 1px solid #000;
	background-color: #F9C;		
	margin-bottom: 5px;
	padding: 5px;
	font-weight: bold;
	text-align: center;
}
/*.form_component {
	width: 88%;
	height: auto;
	background-color: #FFF;		
	margin-bottom: 5px;
	padding: 0px;
	font-weight: bold;
	text-align: center;
	border: 1px solid #000;
}
.form_component:hover{
	
}
.form_component:active{
	background-color: Red;
}*/
.dropBox {
	background-color: White;
	height: 500px;
	margin-bottom: 10px;
	padding-left: 5%;
	padding-right: 5%;
	overflow: auto;
}
.toolbar_button {
	text-decoration: none;
	color: #000;
	height: 20px;
	width: 75px;
	line-height: 20px;
	vertical-align: middle;
	border: 1px solid #000;
	background-color: #FAFAFA;
	margin: 0px;
	padding: 1px;
	display: block;
	font-size: 1.0em;
}
.toolbar_field {
	text-decoration: none;
	color: #000;
	height: 20px;
	width: 200px;
	line-height: 20px;
	vertical-align: middle;
	border: 1px solid #000;
	background-color: #FAFAFA;
	margin: 0px;
	padding: 1px;
	display: block;
	font-size: 1.0em;
}
.toolbar_button:hover {
	color: #FFF;
	background-color: #317082;
	text-decoration: none;
}
.float_left {
	float: left;
}
.float_right {
	float: right;
}
.float_center {
	float: center;
}
.bottom_tab_button {
	text-decoration: none;
	height: 20px;
	width: 100px;
	vertical-align: middle;
	text-align: center;
	margin: 0px;
	padding: 10px;
	
}

/*---Options tabbed pane styles---*/
table.tabbedPane { 
	width: 475px                             ! important;
    height: 500px                            ! important;
    vertical-align: top                      ! important;
    border-collapse: separate                ! important;
    border-spacing: 0px                      ! important; 
}
td.activeTab { 
	background-color: #e0e0ec                ! important;
	border-top: 2px solid #fff               ! important;
	border-left: 2px solid #fff              ! important;
	border-right: 2px solid #aaacae          ! important;
	border-bottom: 0px none                  ! important;
	padding: 0px                             ! important;
	height: 20px                             ! important;
	font-size: 12px                          ! important;
	horizontal-align: center                 ! important;
	text-align: center                       ! important;
	width: 155px							 ! important;
}
td.activeTab input { 
	background-color: #e0e0ec                ! important;
	font-size: 12px                          ! important;
	horizontal-align: center                 ! important;
	text-align: center                       ! important;
	border: none							 ! important;
	height: 20px							 ! important;
	margin: 0px								 ! important;
}
td.inactiveTab { 
	background-color: #c8c8d8                ! important;
	border-top: 2px solid #e3e5e7            ! important;
	border-left: 2px solid #ebecef           ! important;
	border-right: 2px solid #8a8c8e          ! important;
	border-bottom: 0px none                  ! important;
	padding: 0px                             ! important;
	height: 20px                             ! important;
	font-size: 12px                          ! important;
	horizontal-align: center                 ! important;
	text-align: center                       ! important;
	width: 155px							 ! important;
}
td.inactiveTab input { 
	background-color: #c8c8d8                ! important;
	font-size: 12px                          ! important;
	horizontal-align: center                 ! important;
	text-align: center                       ! important;
	border: none							 ! important;
	height: 20px							 ! important;
	margin: 0px								 ! important;
}
td.activeSub { 
	background-color: #e0e0ec                ! important;
	padding: 0px                             ! important;
	border-left: 2px solid #fff              ! important;
	border-right: 2px solid #aaacae          ! important; 
}
td.inactiveSub { 
	background-color: #fff                   ! important;
    padding: 0px                             ! important; 
}
td.tabContent { 
	background-color: #e0e0ec                ! important;
	border-top: 0px none                     ! important;
	border-left: 2px solid #fff              ! important;
	border-right: 2px solid #aaacae          ! important;
	border-bottom: 2px solid #aaacae         ! important;
	vertical-align: top                      ! important;
	padding: 20px                            ! important;
	height: 100%                             ! important;
	text-align: justify                      ! important; 
} 

/*---Popup model dialog styles---*/
.modalDialog_transparentDivs {	
	filter: alpha(opacity=40);
	opacity: 0.4;
	background-color: #AAA;
	z-index: 1;
	position: absolute;
}
.modalDialog_contentDiv {
	border: 3px solid #000;	
	padding: 2px;
	z-index: 100;
	position: absolute;
	background-color: #FFF;
}
.modalDialog_contentDiv_shadow{
	z-index: 90;
	position: absolute;
	background-color: #555;
	filter: alpha(opacity=30);
	opacity: 0.3;
}

#progressBar { 
	padding-top: 5px; 
}
#progressBarBox { 
	width: 350px; 
	height: 20px; 
	border: 1px inset; 
	background: #eee;
}
#progressBarBoxContent { 
	width: 0; 
	height: 20px; 
	border-right: 1px solid #444; 
	background: #9ACB34; 
}
