.fbTabViewContent {
	background-color: #fff;
	border: 1px solid #d7d7d7;
	bottom: 5px;
	height: auto;
	left: 5px;
	overflow: auto;
	padding: 15px;
	position: absolute;
	right: 5px;
	top: 5px;
	width: auto;
}

.fbTabViewContent h1 {
	margin-top: 0;
	font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
}

.fbTabViewContent .taskNodeSelection {
}
.fbTabViewContent .taskNodeProperties {
}

.fbTabViewContent .formItem {
	padding-top: 12px;
	display: block;
	float: none;
	margin-bottom: 8px;
	overflow: hidden;
}

.fbTabViewContent .formItem div {
	clear: both;
	float: none;	
}

.fbTabViewContent .formItem label {
	font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
	line-height: 20px;
}

.fbTabViewContent .formItem select, .fbTabViewContent .formItem input, .fbTabViewContent .formItem textarea {
	margin: 0;
	margin-right: 8px;
	font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
}

.fbTabViewContent div.subFormItem.noLabel select, .fbTabViewContent div.subFormItem.noLabel input {
	margin-left: 163px;
}

.fbTabViewContent div.subFormItem.noLabel input.noMarginButton {
	margin-left: 8px;	
}

.fbTabViewContent input.changeButton {
	width: auto !important;
	margin-right: 0 !important;	
}

.wideItem select {
	width: 300px !important;
}

.changeButton {
	width: 80p !important;
}

.fbPanelHeader {
	color:#222222;
	float:left;
	font-size:11px;
	font-weight:bold;
	width:160px;
}

.taskSelector, .actorSelector {
	height: 140px;
}